Repository Bielik20/adeng-jenkins-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

Notes added by 'git notes add'
  8eec192c0fa412b855affb6ee439973dc951a677
Due: none

Notes added by 'git notes add'
  107a5ca79db1a8a1051cc9f04ce18c3cc07d6f85
Due: none

fix: add skip_cleanup
  .travis.yml
Due: none

Notes added by 'git notes add'
  2946d2bbd212f064487dd7867e00776558591180
Due: none

chore: fix readme badges
  README.md
Due: none

chore: update jenkins-rxjs
  package-lock.json
  package.json
Due: prettier --write

chore: app deploy job update
  src/commands/run/jobs-builder/deploy-job-builder.ts
Due: prettier --write, tslint --fix

feat: ucp deploy
  src/commands/run/jobs-builder/deploy-job-builder.ts
  src/commands/run/questions/param-questions.ts
  src/commands/run/questions/project-questions.ts
Due: prettier --write, tslint --fix

Notes added by 'git notes add'
  81e44e0a06cd9aeed00267ca81287232b5908ec7
Due: none

fix: deploy only once if two projects share the same job
  src/commands/run/jobs-builder/deploy-job-builder.ts
Due: prettier --write, tslint --fix

fix: remove debug console.log() call
  src/commands/run/jobs-builder/deploy-job-builder.ts
Due: prettier --write, tslint --fix

fix: code review changes
  src/commands/run/jobs-builder/deploy-job-builder.ts
Due: prettier --write, tslint --fix

chore: add CR suggestion
  src/commands/run/jobs-builder/deploy-job-builder.ts
Due: prettier --write, tslint --fix

Notes added by 'git notes add'
  1535724ca7f424a1848f426e708aee78a1251798
Due: none

chore: add notification when in dev mode
  src/index.ts
  src/utils/print-header.ts
Due: prettier --write, tslint --fix

improvement: qs changed to querystring. ucp test projects added
  src/commands/run/jobs-builder/test-job-builder.ts
  src/commands/run/questions/project-questions.ts
Due: prettier --write, tslint --fix

fix: ucp projects reverted
  src/commands/run/jobs-builder/test-job-builder.ts
  src/commands/run/questions/project-questions.ts
Due: prettier --write, tslint --fix

fix: another revert
  src/commands/run/questions/project-questions.ts
Due: prettier --write, tslint --fix

improvement: qs changed to querystring (#14)
  src/commands/run/jobs-builder/test-job-builder.ts
Due: prettier --write, tslint --fix

Notes added by 'git notes add'
  196430dd11a2fcb441cfcaf2cac196c274257d6a
Due: none

feat: deploy ad-engine for feature branch
  src/commands/run/jobs-builder/deploy-job-builder.ts
  src/commands/run/questions/project-questions.ts
Due: prettier --write, tslint --fix

feat: add platformsBranch parameter
  src/commands/run/jobs-builder/deploy-job-builder.ts
  src/commands/run/questions/param-questions.model.ts
  src/commands/run/questions/param-questions.ts
Due: prettier --write, tslint --fix

Notes added by 'git notes add'
  65a41e8bfec813fe3e2910eba45fdeec49339839
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{js,json,css,scss,html})
  tslint --fix: any of: *.ts
